@model VirtualClassroom.Models.TeacherViewModel

@Html.LabelFor(m => m.Teacher, new { @class = "col-md-2 control-label" })

<div class="col-md-10">
    @Html.DropDownListFor(m => m.SelectedTeacher, new SelectList(Model.TeacherslList, "Value", "Text"), "Select Teacher", new { @id="selectedTeacher", @class = "form-control teachersdrop" })
</div>


<script type="text/javascript">
    $(document).ready(function ()
    {
        $('.teachersdrop').attr('disabled', true);
    });

    @ViewBag.selectedTeacher="";
</script>