################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/VirtualClassroom/Properties/PublishProfiles
/VirtualClassroom/VirtualClassroom/obj
/VirtualClassroom/bin/VirtualClassroom.dll
/VirtualClassroom/bin/VirtualClassroom.dll.config
/VirtualClassroom/bin/VirtualClassroom.pdb