<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation targetFramework="4.6" xdt:Transform="Replace" />
    <httpRuntime targetFramework="4.6" xdt:Transform="Replace" />
  </system.web>
	<system.webServer>
		<rewrite xdt:Transform="Insert">
			<rules>
				<clear />
				<rule name="Redirect to https" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
