<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="VirtualClassroomDbConnectionString" connectionString="Data Source=LOCALHOST;Initial Catalog=VC;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.6" xdt:Transform="Replace" />
    <httpRuntime targetFramework="4.6" xdt:Transform="Replace" />
  </system.web>
</configuration>
