@{
    ViewBag.Title = "Admin";
    ViewBag.Name = "Virtual Classroom - Administration";
}
<style>
    #Header1{
    height:60px;
}
    .divBody{
    margin-top: 20px;
}
</style>

<div id="divTarget" class="adminContainer"></div>

@Scripts.Render("~/bundles/react")
@Scripts.Render("~/vc/global")
@Scripts.Render("~/vc/admin")

<script type="text/javascript">
    $(document).ready(function () {   
        var a = new VC.Admin.InitAdministration('divTarget', '@Url.Action()');
    });   
</script>

<script>
    $(document).ajaxComplete(function ()
    {
        $('.table tbody tr').each(function (i, row) {
            var box = $(this).find("td:nth-child(3)").text();
            
            if (box == "1" || box == "True") {
                    $(this).find('.showEnableClass').hide();
                    $(this).find('.showDisableClass').show();
                  //  $(this).find("td:nth-child(3)").text("True");
                }

                else {
                    $(this).find('.showDisableClass').hide();
                    $(this).find('.showEnableClass').show();
                    //$(this).find("td:nth-child(3)").text("False");
                    }
                });
        
        });

    
    
</script>