@{
    ViewBag.Title = "Test";
    ViewBag.Name = "Virtual Classroom";
}

<div class="homeContainer">

    <div id="targetDiv" class="targetContainer"></div>

    @Scripts.Render("~/bundles/react")

    <script type="text/javascript">
        $(document).ready(function () {
            
        });
    </script>

</div>